@import "../../App.scss";

.FileLister {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $neutral;
    color: $dark;
    height: 100%;
    border-top: 2px solid $dark;
    border-left: 2px solid $dark;
    border-right: 2px solid $dark;
}
