@import "../../App.scss";

.AudioPlayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $neutral;
    border: 2px solid $dark;
    height: 50%;
}
