@import "../../App.scss";

.PDFViewer {
    display: flex;
    flex-direction: column;
    background-color: $neutral;
    color: $dark;
    align-items: center;
    justify-content: center;
    border: 2px solid $dark;
    width: 100%;
    .pg-viewer-wrapper {
        width: 100%;
        height: 100%;
    }
}

canvas {
    display: block;
    margin: 0 auto;
}
